<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{{.}}</title>
    <script id="jquery_190" type="text/javascript" class="library" src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
    <script type="text/javascript" src="/js/search.js"></script>
    <link rel="stylesheet" href="/css/search.css" type="text/css">
</head>
<body>
<div id="Q_input">
    <form class="search">
        <input id="query" name="query" type="text" class="TXT">
        <button id="bt_search" type="submit" class="BTN">搜索</button>
    </form>
</div>
<div id="SearchResults">
    <ul id="results">

    </ul>
</div>
</body>
</html>